@import "../common/_meyer-reset.scss";
@import "../common/_helpers.scss";
@import "_range-input.scss";
@import "../common/_settings.scss";
@import "../common/_common.scss";
@import "_loading.scss";
@import "_nav.scss";
@import "_legend.scss";
@import "_select-map.scss";
@import "_drawing.scss";
@import "_jquery.mmenu.positioning.scss";
@import "_jquery.mmenu.pagedim.scss";
@import "_jquery.mmenu.custom-r6calls.scss";

@mixin current-label {
  background-color: $r6-yellow;
  color: #000;
  text-shadow: none;
}

body {
  overflow: hidden;
}

.feature-flagged {
  display: none !important;
}

@mixin other-floor-icon ($width, $height, $direction, $z-index, $width-offset, $height-offset) {
  $other-floor-icon-width: 15px;
  $other-floor-icon-height: 22px;
  background: url($img-icons-location + $direction + '@2x.png');
  background-size: $other-floor-icon-width, $other-floor-icon-height;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 22px;
  left: $width - ($other-floor-icon-width/2);
  margin-left: $width-offset;
  margin-top: $height-offset;
  position: absolute;
  top: $height - ($other-floor-icon-height/2);
  width: 15px;
  z-index: $z-index + 1;
}

#mmenu-page {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.map-wrapper {
  height: 100vh;
  width: 100vw;
  overflow:hidden;

  &[show-floor-index="-1"] {
    .zero, .one, .two, .three, .four, .five {
      display: none !important;
    }
  }

  &[show-floor-index="0"] {
    .neg-one, .one, .two, .three, .four, .five {
      display: none !important;
    }
  }

  &[show-floor-index="1"] {
    .neg-one, .zero, .two, .three, .four, .five {
      display: none !important;
    }
  }

  &[show-floor-index="2"]{
    .neg-one, .zero, .one, .three, .four, .five {
      display: none !important;
    }
  }

  &[show-floor-index="3"] {
    .neg-one, .zero, .one, .two, .four, .five {
      display: none !important;
    }
  }

  &[show-floor-index="4"] {
    .neg-one, .zero, .one, .two, .three, .five {
      display: none !important;
    }
  }

  &[show-floor-index="5"] {
    .neg-one, .zero, .one, .two, .three, .four {
      display: none !important;
    }
  }
}

#map-panel-wrapper {
  @include align-content(space-around);
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(space-around);

  &[selected-floor-index="-1"] .map-wrapper[show-floor-index="-1"] .map-panel-label {
     @include current-label();
  }
  &[selected-floor-index="0"] .map-wrapper[show-floor-index="0"] .map-panel-label {
     @include current-label();
  }
  &[selected-floor-index="1"] .map-wrapper[show-floor-index="1"] .map-panel-label {
     @include current-label();
  }
  &[selected-floor-index="2"] .map-wrapper[show-floor-index="2"] .map-panel-label {
     @include current-label();
  }
  &[selected-floor-index="3"] .map-wrapper[show-floor-index="3"] .map-panel-label {
     @include current-label();
  }
  &[selected-floor-index="4"] .map-wrapper[show-floor-index="4"] .map-panel-label {
     @include current-label();
  }
  &[selected-floor-index="5"] .map-wrapper[show-floor-index="5"] .map-panel-label {
     @include current-label();
  }

  .helper-border {
    @include box-shadow(0, 0, 8px, rgba(0,0,0,1));
    background-color: transparent;
    display: none;
    position: absolute;
    -ms-transition:  background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    z-index: $z-map-border;

    body.show-map & {
      background-color: #fff;
    }
  }
  .helper-border.vertical {
    height: 100%;
    width: 1px;
  }
  .helper-border.horizontal {
    height: 1px;
    width: 100%;
  }

  .map-panel-label {
    @include text-shadow();
    background-color: $faded-bg;
    border-radius: 0 0 6px 6px;
    color: #fff;
    display: none;
    font-size: 1.2rem;
    left: 0;
    padding: 0.2em 0.6em 0.3em 0.6em;
    pointer-events: none;
    position: absolute;
    z-index: $z-map-label;
    text-align: center;
    top: 50%;
    -ms-transform: rotate(-90deg) translate(-50%, 0);
    -webkit-transform: rotate(-90deg) translate(-50%, 0);
    transform: rotate(-90deg) translate(-50%, 0);
    -ms-transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
	  transform-origin: left top 0;

    @media screen and (max-width: $break-large) {
      font-size: 1.3rem;
    }
    @media screen and (max-width: $break-small) {
      font-size: 1.1rem;
    }
    @media screen and (max-width: $break-very-small) {
      font-size: 0.95rem;
    }

    span {
      display: none;
    }
  }

  .map-wrapper {
    display: none;

    &:first-child {
      display: block;
    }
    &:nth-child(2),
    &:nth-child(4) {
      .map-panel-label {
        left: 1px;
      }
    }
  }

  &[map-panel-count="2"] .map-wrapper {
    @include flex(1 1 50%);

    .map-panel-label {
      display: block;
    }

    .helper-border.vertical {
      display: block;
    }

    &:first-child .helper-border.vertical {
      right: 0;
    }

    &:nth-child(2) {
      display: block;
    }

    @media (orientation: portrait) {
      @include flex(1 1 100%);
      height: 50vh;

      .helper-border.vertical {
        display: none;
      }
      .helper-border.horizontal {
        display: block;
      }
      &:first-child {
        .helper-border.horizontal {
          bottom: 0;
        }
      }
      &:nth-child(2) {
        .map-panel-label {
          left: 0;
        }
      }
    }

    .map-panel-label {
      span {
        display: inline;
      }
    }
  }

  &[map-panel-count="4"] .map-wrapper {
    @include flex(1 1 50%);
    display: block;
    height: 50vh;

    .map-panel-label {
      display: block;
    }

    .helper-border.vertical,
    .helper-border.horizontal {
      display: block;
    }

    &:first-child .helper-border.vertical,
    &:nth-child(3) .helper-border.vertical {
      right: 0;
    }

    &:first-child .helper-border.horizontal,
    &:nth-child(2) .helper-border.horizontal {
      bottom: 0;
    }

    .map-panel-label {
      span {
        display: inline;
      }
    }
  }
}

.map-main {
  height: 100%;
  position: relative;
  width: 100%;

  .center-helper {
    height: 0;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 0;
  }

  .svg-wrapper {
    position :relative;
    pointer-events: none;
  }

  svg {

    &.svg-elements {
      position: absolute;
    }

    &.map {
      z-index: $z-svg-map;
    }
  }

  .map-elements {
    position: relative;

    img, div, a {
      position: absolute;
    }

    .background {
      @include box-shadow(0, 0, 50px, rgba(0,0,0,0.5));
      z-index: $z-background;
    }

    &.zoomed-in-far {
      position: relative;
    }

    &.zoomed-out-far {
      .room-label {
        opacity: 0;
      }
    }
  }
}
