/* FOLDERS */
$img-location: '../../img/';
$img-icons-location: $img-location + 'icons/';

/* MISC */
$nav-font-size: 1.2rem;
$nav-font-size-small: 1.1rem;
$nav-font-size-very-small: 0.95rem;
$control-padding-top-bottom: 0.15em;
$control-padding-left-right: 0.5em;
$control-padding: $control-padding-top-bottom $control-padding-left-right;
$faded-bg: rgba(16,26,36,0.6);
$less-faded-bg: rgba(16,26,36,0.7);
$button-transition: 0.2s;

/* RESPONSIVE BREAKPOINTS */
$break-small: 620px;
$break-very-small: 400px;
$break-large: 1400px;

/* COLORS */
$r6-yellow: #ffdb00;
$r6-blue: #3a6082;
$r6-orange: #d65b2b;
$zoom-blue: #3071a9;
$grey: #808080;
$light-grey: #a4a4a4;
$panel-marker: #FF1493;
$panel-marker-faded: rgba(255,20,147, 0.2);

/* Z-INDEXES */
$z-background: 1000;
$z-svg-map: 1112;
$z-drawing-markers: 1200;
$z-map-border: 1300;
$z-map-label: 1301;
$z-map-selection-grid: 1350;
$z-nav: 1400;
